
.main-content {

    margin-left:300px;
    padding:35px;

    min-height:100vh;

    background:#f8fafc;

}



.page-header {

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}



.page-header h1 {

    font-size:30px;

    font-weight:700;

    color:#111827;

}




/* Add Staff Button */

.add-btn {

    background:#2563eb;

    color:white;

    border:none;

    padding:13px 25px;

    border-radius:10px;

    font-size:15px;

    cursor:pointer;

    box-shadow:0 4px 10px rgba(37,99,235,0.3);

    transition:0.3s;

}



.add-btn:hover {

    background:#1d4ed8;

    transform:translateY(-2px);

}





/* Search Card */

.search-box {

    background:white;

    padding:22px;

    border-radius:15px;

    margin-bottom:25px;

    box-shadow:0 5px 15px rgba(0,0,0,0.06);

}



.search-box input {

    width:100%;

    padding:15px 18px;

    border:1px solid #d1d5db;

    border-radius:10px;

    outline:none;

    font-size:15px;

}



.search-box input:focus {

    border-color:#2563eb;

}





/* Table Card */

.table-container {

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.06);

    overflow:hidden;

}





table {

    width:100%;

    border-collapse:collapse;

}




thead {

    background:#f1f5f9;

}



th {

    padding:18px;

    text-align:left;

    font-size:14px;

    color:#374151;

    font-weight:600;

}



td {

    padding:18px;

    border-bottom:1px solid #e5e7eb;

    color:#4b5563;

}




tbody tr {

    transition:0.2s;

}



tbody tr:hover {

    background:#f8fafc;

}





/* Staff ID */

.staff-id {

    color:#2563eb;

    font-weight:700;

}





/* Role Badges */


.role-admin {

    background:#ede9fe;

    color:#6d28d9;

    padding:7px 14px;

    border-radius:20px;

    font-size:13px;

    font-weight:600;

}



.role-manager {

    background:#dbeafe;

    color:#1d4ed8;

    padding:7px 14px;

    border-radius:20px;

    font-size:13px;

    font-weight:600;

}



.role-collector {

    background:#cffafe;

    color:#0e7490;

    padding:7px 14px;

    border-radius:20px;

    font-size:13px;

    font-weight:600;

}





/* Active Status */


.status-active {

    background:#dcfce7;

    color:#15803d;

    padding:7px 14px;

    border-radius:20px;

    font-size:13px;

    font-weight:600;

}



.status-inactive {

    background:#fee2e2;

    color:#b91c1c;

    padding:7px 14px;

    border-radius:20px;

    font-size:13px;

    font-weight:600;

}





/* View Button */


.view-btn {

    background:#0ea5e9;

    color:white;

    border:none;

    padding:9px 18px;

    border-radius:8px;

    cursor:pointer;

    transition:0.3s;

}



.view-btn:hover {

    background:#0284c7;

}